@font-face {
	font-family: KiteOne;
    src: url(../fonts/KiteOne-Regular.ttf);
}

/*DOCUMENT BODY*/
body {
	margin: 0;
	font-family: KiteOne;
	background-image: url(../images/paper_texture.png);
	background-color: transparent;
}

/*DOCUMENT HEADER*/
header {
	text-align: center;
	width: 100%;
	height: 48px;
	line-height: 48px;
	color: white;
	z-index: 2;
	border-bottom: 3px solid;
	border-color: black;
	position: fixed;
	top: 0px;
	box-shadow: 0px -2px 13px 1px #000000;
	/*background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);*/
	background: linear-gradient(to bottom, rgba(0,0,0,1.85) 0%,rgba(0,0,0,0.20) 100%);
}

/*INVENTORY BUTTON*/
header input.bt_inventory {
	background-image: url(../images/tasks_white.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	position:absolute;
	float: left;
	width: 42px;
	height: 42px;
	left: 3px;
	top: 2px;
	border: 0px;
}

/*PRESSED 'INVENTORY' BUTTON*/
header input.bt_inventory:active {
	box-shadow: inset 0 3px 8px #000000;
	border-radius: 100%;
}

/*PAPER TITLE*/
header span.page_title {
	font-size: 35px;
}

/*'SETTINGS' BUTTON*/
header input.bt_settings {
	background-image: url(../images/settings_white.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	position: absolute;
	float: right;
	right: 5px;
	top: 3px;
	width: 42px;
	height: 42px;
	border: 0px;
}

/*PRESSED 'SETTINGS' BUTTON*/
header input.bt_settings:active {
	box-shadow: inset 0 3px 8px #000000;
	border-radius: 100%;
}

/*INPUT DATA POSITION*/
div.input_data {
	margin-top: 48px;
}

/*TEXT INPUT DIV*/
div.input_data div.new_task {
	width: auto;
	margin-right: 50px;
	margin-left: 3px;
}

/*TEXT INPUT ELEMENT*/
div.input_data div.new_task input.new_task {
	width: 100%;
	height: 22px;
	font-size: 20px;
	padding-top: 20px;
	border: none;
	border-bottom: 2px solid;
	border-color: black;/*#87CEFA*/
	background-color: transparent;
	font-family: KiteOne;
}

/*'ADD NEW TASK' BUTTON*/
div.input_data input.bt_create {
	background-image: url(../images/plus.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: transparent;

	width: 42px;
	height: 42px;
	border: 0px;

	position: absolute;
	right: 4px;
	margin-top: -43px;
}

/*PRESSED 'ADD NEW TASK BUTTON'*/
div.input_data input.bt_create:active {
	box-shadow: inset 0 3px 8px #000000;
	border-radius: 100%;
}

/*TASKS CONTAINER*/
div.tasks {
	margin-top: 20px;
}

/*INDIVIDUAL TASKS*/
div.tasks div {
	line-height: 34px;
	border: 1px solid;
	border-color: black;
	border-radius: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 12px;
	font-size: 19px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*INDIVIDUAL TASKS TITLE*/
div.tasks div span {
	margin-left: 10px;
}

/*PLACE HOLDER TO AVOID SCROLL PROBLEMS*/
div.placeholder {
	width: 100%;
	height: 22px;
	bottom: 0px;
}

/*FOOTER*/
div.footer {
	width: 100%;
	height: 22px;
	position: fixed;
	bottom: 0px;
	border-top: 2px solid;
	border-color: black;
	color: white;
	background: linear-gradient(to top, rgba(0,0,0,1.85) 0%,rgba(0,0,0,0.20) 100%);
}

div.footer span {
	margin-left: 5px;
	bottom: 2px;
}