@font-face {
	font-family: KiteOne;
    src: url(../fonts/KiteOne-Regular.ttf);
}

/*DOCUMENT BODY*/
body {
	margin: 0;
	font-family: KiteOne;
	background: black;
}

/*DOCUMENT HEADER*/
header {
	text-align: center;
	width: 100%;
	height: 48px;
	line-height: 54px;
	color: white;
	z-index: 2;
	border-bottom: 3px solid;
	border-color: black;
	position: fixed;
	top: 0px;
	box-shadow: 0px -2px 13px 1px #000000;
	background: black;
}

/*INVENTORY BUTTON*/
header input.bt_inventory {
	background-image: url(../images/tasks_white.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	position:absolute;
	float: left;
	width: 42px;
	height: 42px;
	left: 3px;
	top: 2px;
	border: 0px;
}


/*PAPER TITLE*/
header span.page_title {
	font-size: 35px;
	cursor: default;
}

/*'SETTINGS' BUTTON*/
header input.bt_settings {
	background-image: url(../images/more.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;
	position: absolute;
	float: right;
	right: 5px;
	top: 3px;
	width: 42px;
	height: 42px;
	border: 0px;
}

/*INPUT DATA POSITION*/
div.input_data {
	margin-top: 0px;
	border-bottom: 2px solid;
	border-bottom-color: white;
}

/*TEXT INPUT DIV*/
div.input_data div.new_task {
	width: auto;
	margin-right: 50px;
	margin-left: 46px;
	border-left: 1px solid white;
}

input {
	outline: 0 !important ;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important ;
}

/*'MORE OPTIONS' BUTTON*/
div.input_data input.bt_more {
	background-image: url(../images/more.png);
	background-size: 56%;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center;

	width: 42px;
	height: 42px;
	border: 0px;

	position: absolute;
	left: 2px;
	margin-top: 3px;
}

/*TEXT INPUT ELEMENT*/
div.input_data div.new_task input.new_task {
	width: 100%;
	height: 22px;
	font-size: 20px;
	padding-top: 20px;
	margin-left: 4px;
	border: none;
	border-bottom: 2px solid;
	border-color: black;/*#87CEFA*/
	background-color: transparent;
	font-family: KiteOne;
	color: #62823c;
}

/*'ADD NEW TASK' BUTTON*/
div.input_data input.bt_create {
	background-image: url(../images/plus_white.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: transparent;

	width: 42px;
	height: 42px;
	border: 0px;

	position: absolute;
	right: 2px;
	margin-top: -41px;
}

/*TASKS CONTAINER*/
div.tasks {
	margin-top: 20px;
}

div.tasks span.list_title {
	color: white;
	font-weight: bold;
	color: rgb(255, 246, 21);
	cursor: default;
}

ul.task_container {
	padding-left: 0px;
	margin-top: 6px;
	outline: 0 !important ;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important ;
}

/*INDIVIDUAL TASKS*/
ul.task_container li {
	list-style: none;
	line-height: 42px;
	border-bottom: 3px solid;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	font-size: 17px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: white;
}

/*TASKS I CAN DO*/
ul.task_container li.open {
	border-color: #FF272D;
}

/*TASKS I'M GOING TO DO*/
ul.task_container li.ongoing {
	border-color: #FF6A24	;
}

/*TASKS I DID*/
ul.task_container li.closed {
	border-color: #63FF27;
}

/*INDIVIDUAL TASKS TITLE*/
ul.task_container li span {
	cursor: default;
	color: white;
}

/*INDIVUDUAL TASKS BUTTON*/
ul.task_container li input.bt_move {
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	border: 0px;
	width: 42px;
	height: 42px;
	padding-bottom: 0px;
}

ul.task_container li.open input.bt_move {
	background-image: url(../images/arrow_up.png);
}

ul.task_container li.ongoing input.bt_move {
	background-image: url(../images/arrow_down.png);
}

ul.task_container li.closed input.bt_move {
	background-image: url(../images/close.png);
}